body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
}

h1 {
    font-size: 3em;
}

a {
    text-decoration: none;
}

.header {
    text-align: center;
    background: url(img/background.jpg) no-repeat fixed;
    background-size: cover;
    position: relative;
    top: 0;
    left: 0;
    color: #fff;
    padding: 5em;
}

.header .header-logo {
    width: 10%;
    padding-top: 2.5em;
}

.header .inline-menu {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em 5em;
}

.header .inline-menu a {
    color: #fff;
    transition: linear 200ms all;
    -webkit-transition: linear 200ms all;
    font-weight: 400;
}

.header .inline-menu li {
    display: inline-block;
    padding: 0 1em;
}

.header .inline-menu li a:hover {
    color: #ddd;
}

.header .inline-menu li:after {
    content: '';
    color: #fff;
}

.header .inline-menu li:last-child:after {
    content: '';
    color: #fff;
}

.wrapper {
    position: relative;
    top: 0;
    left: 0;
}

.wrapper .motivation {
    overflow: auto;
}

.wrapper .motivation .motivation-item {
    width: 45%;
    float: left;
    background: #e61543;
    text-align: center;
    padding: 2.5%;
}

.wrapper .events {
    position:relative;
    height: 500px;
}

.wrapper .events .item {
    height:100%;
}

.wrapper .events .item .bg_img_main {
    width: 52%;
    height: 100%;
    float:left;
}

.wrapper .events .item .bg_img_secondary {
    width: 16%;
    height: 50%;
    float:left;
}

.wrapper .events .item .news {
    width: 47%;
    height: 48%;
    float:left;
    background: #e61543;
    padding: 0.5%;
}

.wrapper .about{
    background: url(pyladies_cps/pyladiescps.jpg) no-repeat fixed;
    padding: 2.5%;
    text-align: justify;
}

.footer, .push {
    height: 142px; /* .push must be the same height as .footer */
    background: #E6E6E6;
    padding: 1% 2.5% 1% 2.5%;
}

.footer .ico a {
    color: #e61543;
    padding: 5px;
}
