body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 3em;
}

a {
    text-decoration: none;
}

.header {
    text-align: center;
    background: url(img/background.jpg) no-repeat fixed;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    padding: 5em;
}

.header .header-logo {
    width: 10%;
    padding-top: 2.5em;
}

.header .inline-menu {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em 5em;
}

.header .inline-menu a {
    color: #fff;
    transition: linear 200ms all;
    -webkit-transition: linear 200ms all;
    font-weight: 400;
}

.header .inline-menu li {
    display: inline-block;
    padding: 0 1em;
}

.header .inline-menu li a:hover {
    color: #ddd;
}

.header .inline-menu li:after {
    content: '';
    color: #fff;
}

.header .inline-menu li:last-child:after {
    content: '';
    color: #fff;
}

.wrapper {
    margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
    position: relative;
}
.footer, .push {
    height: 142px; /* .push must be the same height as .footer */
}
